@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  @apply h-screen dark:bg-neutral-900
    }
  h1 {
    @apply text-xl md:text-2xl font-bold dark:text-zinc-100
    font-sans
  }
  h2 {
    @apply text-lg md:text-xl font-bold dark:text-zinc-100 font-sans
  }
  h3 {
    @apply text-base md:text-lg font-bold dark:text-zinc-100 font-sans
  } 
  h4 {
    @apply text-sm md:text-base font-bold dark:text-zinc-100 font-sans
  } 
  code {
    @apply dark:text-purple-400 font-mono p-10 flex md:w-1/2  bg-white overflow-hidden text-ellipsis text-xs md:text-sm border-gray-200 rounded-lg shadow dark:bg-zinc-800 dark:border-zinc-700
  }
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1024px;
}